*{
    margin: 0;
    padding: 0;
}

#Topo1{
    height: 7vh;
    text-align: center;
    background-color:yellow;
    border: 1px solid;
    width: 100%;
}

#Center{
    display:flex;
    width: 100%;
}

#LateralE{
    width: 15%;
    background-color: chartreuse;
    border: 1px solid;
    height: 82.5vh;
    text-align: center;
}

#Conteudo{
    width: 70%;
    height: 82.5vh;
    background-color: aqua ;
    border: 1px solid;
}

#LateralD{
    width: 15%;

    
}

#Conteudo > h2{
    margin-top: 33.2% ;
    margin-left: 35vh;
}

#Rodape{
    height: 8vh;
    text-align: center;
    background-color: rgb(142, 45, 240);
    border: 1px solid;
    position: absolute;
    bottom: 0;
    width: 100%;
}
