*{
    margin: 0;
    padding: 0;
}
/*Definindo a altura da pagian para rodape ficar sempreno final*/
html{
    height: 100%;
    min-height: 100%;
}
body{
    font-family: 'Ubuntu', sans-serif;
   
    background-size: 2000px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

@media (max-width: 700.9px){

    body{
        background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
        url("../img/fundo_doctor_strange.jpg") no-repeat top center;
        background-color:black;
        background-size: 500px
    }
    #Corpo{
        background-size: 500px;
        max-width: 500px;
        width: 90%;
        height: 630px;
        margin: 7% auto;
        border-radius: 50px;
        box-sizing: border-box;
    }
    #img{
        text-align: center;
        padding: 10px;
    }
    #img img{
        border-radius: 50%;
    }
    #image{
        width: 180px;
    }
    #perfil{
        padding: 5px;
        text-align: center;
        font-weight: bold ;  
    }
    #perfil a{
        text-decoration: none;
        color: white;
    }
    #lista {
        text-align: center;
        width: 90%;
        margin: 20px auto;
    }
    #lista ul{
        list-style-type: none;
    }
    #lista ul li{
        text-transform: uppercase;
        font-weight: bold;
        margin: 2px 0px;
        /*background*/
    }
    .links{
        /*border: 2px solid rgb(170, 170, 170);
        background:rgba(165, 165, 165, 0.185);
        border: 2px solid #EA1646 */
        border: 2px solid white;
        background: #ea164728;
        border-radius: 40px;
        color:rgb(255, 254, 254);
        text-decoration: none;
        display: block;
        padding: 22px;
        width: 70%;
        margin: auto;
        margin-bottom: 10px;
    }
    .links:hover{
        border-radius: 40px;
        border: 2px solid white;
        color: #000000;
        background: #fff;
        margin-bottom: 10px;
    }
    #Rodape{
        margin-top: auto;
        width: 100%;
        padding: 20px 0px;
        text-align: center;
        color: white;
        background: #ff003c42;
        font-weight: bolder;
    }
    .Spans{
        font-weight: normal;
    }

}

@media(min-width:701px){
    
    body{
        background:linear-gradient(rgba(0, 0, 0, 0.64), rgba(0, 0, 0, 0.64)),
        url("../img/fundo2_doctor.jpg") no-repeat center center;
        background-size: 1920px 1080px;
        background-color:#170420;
    }
    #Corpo{
        min-width: 500px;
        max-width: 600px;
        width: 40%;
        height: 630px;
        margin: 100px auto;
        border-radius: 50px;
        box-sizing: border-box;
    }
    #img{
        text-align: center;
        padding: 10px;
    }
    #img img{
        border-radius: 50%;
        border: 2px solid rgba(255, 0, 64, 0.432);
    }
    #image{
        width: 200px;
    }
    #perfil{
        padding: 5px;
        text-align: center;
        font-weight: bold;  
    }
    #perfil a{
        text-decoration: none;
        color: white;
    }
    #lista {
        text-align: center;
        width: 90%;
        margin: 20px auto;
    }
    #lista ul{
        list-style-type: none;
    }
    #lista ul li{
        text-transform: uppercase;
        font-weight: bold;
        margin: 2px 0px;
        /*background*/
    }
    .links{
        border: 2px solid #EA1646;
        background: #ea164728;
        border-radius: 50px;
        text-decoration: none;
        display: block;
        color:rgb(255, 254, 254);
        padding: 22px;
        margin-bottom: 20px;
    }
    .links:hover{
        border-radius: 50px;
        color: #000000;
        background: white;
        border: 2px solid rgb(0, 255, 255);
    }
    #Rodape{
        width: 100%;
        margin-top: auto;
        padding: 20px 0px;
        text-align: center;
        color: white;
        background: #420000e0;
        /*background: -webkit-linear-gradient(  #141414, #1d1d1d);*/
        font-weight: bolder;
    }
    .Spans{
        font-weight: normal;
    }

}


/*  Definir so um display para ser responsivo e defini so q tiver errado dentro do @media*/